body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
  display: block;
  padding: 0 0 3px 0;
}

input {
  display: block;
  width: 200px;
}

button {
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  margin: 5px 0 0 3px;
  background: #4CAF50;
}

.input {
  margin: 0 0 8px 0;
  padding: 3px 3px 3px 3px;
}

#validation-success {
  display: block;
  background: #4CAF50;
  padding: 5px 5px 5px 10px;
  width: 300px;
}

li {
  color: white;
  list-style: none;
  background: #d17373;
  padding: 5px 5px 5px 10px;
  width: 300px;
}

.success {
  margin: 5px 0 10px 0;
}

form {
  max-height: 2000px;
}

#database-test {
  float: left;
  max-height: 2000px;
}

section {
  float: left;
  overflow: auto;
  width: 230px;
  background: #aae2f7;
  padding: 5px 5px 10px 10px;
  border-style: outset;
  height: 400px;
}

.get {
  height: 100%;
  margin: 0 0 0 30px;
  background: lightyellow;
}

.update {
  margin: 0 0 0 30px;
  background: #efcaf7;
}

.delete {
  margin: 0 0 0 30px;
  background: orangered;
}

h3 {
  padding: 5px 5px 5px 5px;
  display: block;
  border-bottom: solid;
}

.item {
  border: solid;
  background: lightgray;
  padding: 5px 5px 5px 5px;
  margin: 10px 10px 10px 3px;
}